html {
  text-rendering: optimizeLegibility;

  background-image: url("images/whisper.png");
  background-size: 700px;
  background-position: 350px 150px;
  background-repeat: no-repeat;

/*
  background: repeating-linear-gradient(
    45deg,
    #000000,
    #000000 1px,
    #ffffff 1px,
    #ffffff 11px
  );
  height: 730px;
  background-position-x: 20px;
  background-repeat: no-repeat;
  */

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  -webkit-text-size-adjust: 100%; /*For mobile Safari inconsistency*/
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

img { /*For floating images embedded in text*/
  vertical-align: middle;
  float: inline-start;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 10px 0 6px 0;
}

hr {
  border-top: 3px solid #000000;
}

a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:visited {
  color: rgb(58, 23, 118);
  text-decoration: none;
}

a:hover {
  color: rgb(58, 23, 118);
  text-decoration: underline;
}

a:active {
  color: rgb(58, 23, 118);
  text-decoration: underline;
}

@font-face {
  font-family: "FuturaMed";
  src: url("fonts/FuturaStd-Medium.otf");
}

@font-face {
  font-family: "FuturaNorm";
  src: url("fonts/FuturaStd-Book.otf");
}

@font-face {
  font-family: "Palatino";
  src: url("fonts/PalatinoLTStd-Roman.otf");
}

@font-face {
  font-family: "Bembo";
  src: url("fonts/BemboStd.otf");
}

@font-face {
  font-family: "BemboSemi";
  src: url("fonts/BemboStd-Semibold.otf");
}

@font-face {
  font-family: "Baskerville";
  src: url("fonts/NewBaskervilleStd-Roman.otf");
}

.box {
  padding: 18px;
  width: 410px;
  max-width: 75vw; /* Resizes if screen is small */
  height: 640px;
  max-height: 75vh;


  border-color: black;
  border-style: solid;
  border-width: 5px 5px 20px 20px;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  background: linear-gradient(180deg, rgba(255, 255, 255, .25), rgba(255, 255, 255, 1) 35%);
  background-attachment: local;
}

.title{
  font-family: "FuturaMed";
  font-variant: small-caps;
  text-align: left;
  font-size: 45px;
  letter-spacing: 5px;
  margin: -10px;
  padding: 0px 0px 15px 20px;
}

.sub{
  font-family: "FuturaNorm";
  text-align: center;
  font-size: 23px;
  letter-spacing: 1px;
  margin: 3px;
}

.stitle{
  font-family: "FuturaMed";
  font-variant: small-caps;
  text-align: justify;
  font-size: 34px;
  letter-spacing: 1px;
  margin: 10px;
  padding: 10px 0px 0px 0px;
}

.info{
  font-family: "FuturaNorm";
  text-align: justify;
  font-size: 14px;
  margin: 10px;
}

.paragraph{
  font-family: "Palatino";
  text-align: justify;
  hyphens: auto;
  font-size: 21px;
  line-height: 1.35;
  margin: 10px;
  padding: 10px 0px 0px 0px;
}

.square{
  font-family: "FuturaMed";
  text-align: center;
  font-size: 50px;
  margin: 3px;
}
